<h1><%= "User Folder: #{ @directory.basename }" %></h1>
<div><a href="/<%= @directory.basename %>/new">Add New Project Link</a></div>
<ul>
  <% @symlinks.each do |symlink| %>
    <li>
    <%= symlink.basename %>
    <form method="POST" action="/<%= @directory.basename %>/<%= symlink.basename %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Remove">
    </form>

    </li>
  <% end %>
</ul>
